.main {
  @apply min-h-screen w-full space-y-16 bg-black px-4 sm:px-0;
  background-image: radial-gradient(#d7d7d740 1px, transparent 0),
    radial-gradient(#d7d7d71a 1px, transparent 0);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  -webkit-animation: slide 2s linear infinite;
  animation: slide 4s linear infinite;
}

@keyframes slide {
  100% {
    background-position: 50px 0, 125px 25px;
  }
}

.header {
  @apply relative z-10 mx-auto max-w-screen-lg pt-16 xl:max-w-screen-xl;
}

.headerTopTitle {
  @apply bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400 bg-clip-text text-2xl font-bold leading-none tracking-tight text-transparent sm:text-4xl;
}

.headerTopTitleVital {
  @apply text-[gold] opacity-75;
}

.headerTitle {
  @apply mb-8 bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400  bg-clip-text text-6xl font-extrabold leading-none tracking-tight text-transparent sm:mb-10 lg:text-7xl;
}

.headerDescription {
  @apply mb-10 max-w-screen-lg text-lg font-medium text-gray-300 sm:mb-11 sm:text-2xl sm:leading-10;
}

.headerDescriptionCode {
  @apply bg-gradient-to-tl from-fuchsia-200 via-cyan-500 to-violet-400 bg-clip-text font-mono font-bold text-transparent;
}

.copy {
  @apply mx-auto max-w-screen-lg xl:max-w-screen-xl;
}

.copyInner {
  @apply items-center space-y-4 sm:flex sm:space-x-6 sm:space-y-0;
}

.features {
  @apply mx-auto grid max-w-screen-lg grid-cols-10 gap-4 xl:max-w-screen-xl;
}

.cardWrapper {
  @apply col-span-10 opacity-0 sm:col-span-5;
  animation: show 0.5s forwards;
}

@keyframes show {
  to {
    @apply opacity-100;
  }
}

.viteLogoContainer {
  @apply absolute top-12 right-12 opacity-10 lg:opacity-50;
}

.viteLogo {
  @apply h-56 w-56;
  animation: bounce 8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes bounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(40px) rotate(-1deg);
    transform: translateY(40px) rotate(-1deg);
  }
}

.footer {
  @apply mx-auto max-w-screen-lg pb-16 text-center font-bold text-gray-400 xl:max-w-screen-xl;
}
